@font-face {
  font-family: "Cursed Timer";
  src: url(fonts/CursedTimerUlil-Aznm.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b244a;
}

h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
  font-size: 40px;
  font-weight: 700;
  line-height: 36px;
}

button {
  width: 45px;
  height: 45px;
  border: 2px solid #9aabd8;
  border-radius: 4px;

  background-color: #1b244a;
  color: #9aabd8;
}

button,
p {
  font-family: "Cursed Timer", sans-serif;
}

.container {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.score-section {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.score {
  width: 160px;
  height: 120px;
  color: #f94f6d;
  background-color: #080001;
  font-weight: 400;
  font-size: 90px;
  line-height: 127px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.increment-score {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
